@mixin flex($direction:false, $justify-c: false, $align-c:false, $align-i:false, $gap:false){
    display: flex;
    @if $direction { flex-direction: $direction; }
    @if $justify-c { justify-content: $justify-c;}
    @if $align-c { align-content: $align-c; }
    @if $align-i { align-items: $align-i; }
    @if $gap { gap: $gap; }
}

@mixin grid($col: 0, $row: 0, $csize: 1fr, $rsize: 1fr, $justify-c: false, $align-c: false, $row-gap: false, $col-gap: false) {
    display: grid;
    grid-template-columns: repeat($col, $csize);
    grid-template-rows: repeat($row, $rsize);
    @if $justify-c { justify-content: $justify-c; }
    @if $align-c { align-content: $align-c; }
    @if $row-gap { row-gap: $row-gap; }
    @if $col-gap { column-gap: $col-gap; }
}

@mixin center(){
    margin-left: auto;
    margin-right: auto;
}

@mixin font($family: sans-serif, $size: 1.8em, $color: false, $weight: false, $align:false, $line-h: false, $letter-s: false){
    font-family: $family;
    font-size: $size;
    @if $color { color: map-get($neutral-colors, $color); }
    @if $weight { font-weight: map-get($font-weight, $weight); }
    @if $align { text-align: $align; }
    @if $line-h { line-height: $line-h; }
    @if $letter-s { letter-spacing: $letter-s; }
}

@mixin size($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
